<div class="container" id="home-container">
  <div class="jumbotron text-center p-3 mb-2 text-white">
    <h1 class="display-2">Σ</h1>
    <p class="lead">Welcome to Sigma Blog</p>
    <hr class="my-1">
    <p>"May the force be with you."</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
