<div class="container" id="home-container">
  <div class="jumbotron text-center p-3 mb-2 text-white">
    <h1 class="display-1">Σ</h1>
    <p class="lead"><mark>Welcome to Sigma Blog</mark></p>
    <hr class="my-1">
    <p><mark>"May the force be with you."</mark></p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
